<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="35">
    <mat-toolbar>
      <span>Register new account</span>
    </mat-toolbar>
    <form
      fxLayout="column"
      [formGroup]="registerFormGroup"
    >
      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input
          matInput
          formControlName="fullName"
          placeholder="Enter your name"
        />
        <mat-error
          *ngIf="registerFormGroup.get('fullName')?.hasError('required')"
        >
          Full name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="Enter your username"
        />
        <mat-error
          *ngIf="registerFormGroup.get('username')?.hasError('required')"
        >
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="registerFormGroup.get('password')?.hasError('required')"
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <mat-error
          *ngIf="
            registerFormGroup.get('email')?.hasError('email') &&
            !registerFormGroup.get('email')?.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          matInput
          type="tel"
          formControlName="phoneNumber"
          placeholder="Enter your phone number"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          type="text"
          formControlName="address"
          placeholder="Enter your address"
        />
      </mat-form-field>
      <div>
        <mat-radio-group aria-label="gender" formControlName="gender">
          <mat-radio-button value="0" [checked]="true">Male</mat-radio-button>
          <mat-radio-button value="1">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-around center"
        style="margin-top: 15px"
      >
        <button
          type="submit"
          mat-raised-button
          style="width: 10em"
          color="primary"
          class="btnRegister"
          (click)="processedRegister()"
        >
          Register
        </button>
        <a mat-raised-button routerLink="" class="a-backLogin">Back to login</a>
      </div>
    </form>
  </mat-card>
</div>
