<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section
    *ngIf="breadcrumbs[breadcrumbs.length - 1].label !== 'Home'"
    class="py-3"
    style="width: 100%"
  >
    <div class="container">
      <!-- <div class="d-flex row">
        <div class="col-9">
          <h1>{{ breadcrumbs[0].label | titlecase }}</h1>
        </div> -->
        <div class="col-9">
          <xng-breadcrumb style="color: #009981;">
            <ng-container *xngBreadcrumbItem="let breadcrumb">
              {{ breadcrumb | titlecase }}
            </ng-container>
          </xng-breadcrumb>
        </div>
      </div>
    <!-- </div> -->
  </section>
</ng-container>
