
<div
  class="aie-share-button"
  data-button-cus="false"
  data-button-bg="#FFFFFF"
  data-button-box="radius:default,shadow:30,color:#E8E8E8"
  data-button-layout="icon:circle,text[pos:right,color:#000000,font:default]"
  data-button-share="url"
  data-share-bg="#FFFFFF"
  data-share-box="radius:20,shadow:30,color:#E8E8E8"
  data-share-boxbt="shadow:30,color:#E8E8E8"
  data-share-layout="icon:circle,text[pos:right,color:#000000,font:default]"
  data-share-inc="default"
  data-style="vertical"
></div>
