<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginFormGroup">
          <!-- account input -->
          <div class="form-outline mb-4">
            <mat-form-field class="full-width">
              <mat-label>Account</mat-label>
              <input matInput type="text" required placeholder="UserID" formControlName="userID" />
            </mat-form-field>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="Input your password"
                formControlName="password"
                required
              />
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a routerLink="/account/forgot-password" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #7fd6cb;"
              (click)="isProcessedLogin()"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a routerLink="/account/register" class="link-danger">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{loadingTitle}}</p>
</ngx-spinner>