
<header class="bg-primary py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Left Side: Home Button -->
      <button mat-icon-button (click)="onLick()" style="color: white;">
        <mat-icon>home</mat-icon>
      </button>
      <!-- Right Side: Logout Button -->
      <button mat-icon-button (click)="doLogout()" style="color: white;">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
