<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="35">
    <mat-toolbar>
      <span>Login</span>
    </mat-toolbar>
    <form fxLayout="column">
      <mat-form-field>
        <mat-label>Account</mat-label>
        <input matInput placeholder="Username" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="type your password" />
      </mat-form-field>

      <button
        type="button"
        mat-raised-button
        style="width: 10em"
        color="primary"
        class="btnLogin"
      >
        Login
      </button>
    </form>
    <div
      fxLayout="column"
      fxLayoutAlign="space-between center"
      class="a-account-porcess"
    >
      <a mat-button routerLink="/forgot-password">Forgot password?</a>
      <a mat-button routerLink="/register">Register new account!</a>
    </div>
  </mat-card>
</div>
