<div class="d-flex flex-column">
  <div
    class="row align-items-center justify-content-center"
    style="padding: 0; margin: 0"
  >
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="mb-4">
          <h5>Quên mật khẩu?</h5>
          <p class="mb-2">Nhập email hoặc tài khoản của bạn để khôi phục</p>
        </div>
        <form [formGroup]="forgotForm">
          <div class="mb-3">
            <label for="email" class="form-label">Tìm kiếm</label>
            <input
              type="text"
              id="email"
              class="form-control"
              name="email"
              placeholder="Tài khoản của bạn"
              formControlName="userID"
            />
          </div>
          <!-- hidden when not found an acount -->
          <div *ngIf="check_exists">
            <hr />
            <span
              >Chúng tôi vừa gửi một mã xác nhận đến email của bạn vui lòng nhập
              mã cùng mật khẩu mới để thực hiện khôi phục</span
            >
            <hr />
            <div class="mb-3">
              <label for="verificationCode" class="form-label"
                >Mã xác nhận</label
              >
              <input
                type="text"
                id="verificationCode"
                class="form-control"
                name="verificationCode"
                placeholder="Nhập mã xác nhận"
                formControlName="verificationCode"
                [ngClass]="{
                  'is-invalid':
                    forgotForm.controls['verificationCode'].value == ''
                }"
              />
              <div
                *ngIf="forgotForm.controls['verificationCode'].value == ''"
                class="invalid-feedback"
              >
                Mã xác nhận là bắt buộc.
              </div>
            </div>

            <div class="mb-3">
              <label for="newPassword" class="form-label">Mật khẩu mới</label>
              <input
                type="password"
                id="newPassword"
                class="form-control"
                name="newPassword"
                placeholder="Nhập mật khẩu mới"
                formControlName="newPassword"
                [ngClass]="{
                  'is-invalid': forgotForm.controls['newPassword'].value == ''
                }"
              />
              <div
                *ngIf="forgotForm.controls['newPassword'].value == ''"
                class="invalid-feedback"
              >
                Mật khẩu là bắt buộc.
              </div>
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Xác nhận mật khẩu</label
              >
              <input
                type="password"
                id="confirmPassword"
                class="form-control"
                name="confirmPassword"
                placeholder="Xác nhận mật khẩu mới"
                formControlName="confirmPassword"
                (keydown)="checkNotMap($event)"
                [ngClass]="{
                  'is-invalid': is_not_map
                }"
              />
              <div
                *ngIf="forgotForm.controls['confirmPassword'].value == ''"
                class="invalid-feedback"
              >
                Cần nhập xác nhận mật khẩu.
              </div>

              <div *ngIf="is_not_map" class="invalid-feedback">
                Mật khẩu và xác nhận mật khẩu không khớp.
              </div>
            </div>
          </div>

          <div class="mb-3 d-grid" *ngIf="check_exists">
            <button
              type="button"
              class="btn btn-primary"
              (click)="ResetPassword()"
            >
              Khôi phục mật khẩu
            </button>
          </div>

          <div class="mb-3 d-grid"  *ngIf="!check_exists">
            <button
              type="button"
              class="btn btn-primary"
              (click)="isProcessForgorPassword()"
            >
              Tìm kiếm tài khoản
            </button>
          </div>
          <span
            >Bạn đã có tài khoản?
            <a type="button" (click)="login()" style="color: rgb(214, 21, 21)"
              >Đăng nhập</a
            ></span
          >
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>