html {
  width: 750px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto !important;
}

body {
  margin: 0;
}

body.CO_HINH_ANH_VIEN {
  padding: 15px;
}

body.CO_HINH_ANH_VIEN.NHIEU_TRANG {
  padding: 0 15px;
}

.background {
  height: 0;
}

.container {
  font-family: "Time New Roman";
  color: #000;
  line-height: 20px;
  font-size: 14px;
  position: relative;
  padding: 0;
  margin: 0;
}

.CO_HINH_ANH_VIEN.TS_BEN_PHAI .container {
  width: 700px;
}

.CO_HINH_ANH_VIEN.TS_BEN_DUOI .container {
  width: 720px;
}

.KHONG_CO_HINH_ANH_VIEN.TS_BEN_PHAI .container {
  width: 730px;
}

.KHONG_CO_HINH_ANH_VIEN.TS_BEN_DUOI .container {
  width: 750px;
}

.MOT_TRANG .container {
  height: 1076px;
}

.MOT_TRANG.CO_HINH_ANH_VIEN .container {
  height: 1046px;
}

#invoice-data {
  position: relative;
  height: calc(100% - 2 * 2px);
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

.KHONG_CO_VIEN_KE #invoice-data {
  width: 100%;
}

.container table {
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

.invoiceNameContainer {
  margin-bottom: 2px;
}

.invName {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  white-space: pre-line;
}

.invNameSN {
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
}

.invNameDetail {
  margin-top: 3px;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
}

.invNameDetailSN {
  font-style: italic;
  font-size: 13px;
  line-height: 13px;
}

.customInvName {
  font-size: 17px;
  line-height: 17px;
}

.eivNumber {
  font-size: 22px;
  line-height: 24px;
  color: red !important;
}

.maSoThue {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 15px;
}

.tableKhoi1,
.tableKhoi2 {
  border-collapse: collapse;
}

.tableKhoi1,
.tableKhoi2,
.tableKhoi3 {
  width: calc(100% + 4px);
  margin-left: -2px;
}

.tableKhoi3 {
  border-collapse: collapse;
}

#anhLogo {
  margin: 3px auto;
  max-width: 197.5px;
}

#anhVienHoaDon {
  height: 1056px;
  width: 750px;
  left: -15px;
  position: absolute;
  z-index: -4;
}

#anhVienHoaDon {
  max-width: 790px;
}

#anhNenHoaVan,
#nenLogo {
  max-width: 746px;
}

#nenLogo,
.TS_BEN_PHAI #anhNenHoaVan {
  max-width: 726px;
}

.MOT_TRANG #anhVienHoaDon {
  height: 1076px;
  margin-top: -15px;
}

.TS_BEN_PHAI #anhVienHoaDon {
  width: 730px;
}

.KHONG_CO_HINH_ANH_VIEN #anhVienHoaDon,
.KHONG_HIEN_LOGO #khungDiChuyenLogo,
.KHONG_NEN_HOA_VAN #khungNenHoaVan,
.KHONG_NEN_LOGO #khungNenLogo,
img:not([src]),
img[src=""] {
  display: none;
}

.KHONG_CO_VIEN_KE #invoice-data,
.KHONG_CO_VIEN_KE .page-content {
  border: none !important;
}

.SONG_NGU {
  padding-left: 3px;
}

.SONG_NGU:not(.invNameSN):not(.invNameDetailSN) {
  font-size: 13px;
}

.KHONG_SONG_NGU .SONG_NGU {
  display: none !important;
}

.table th {
  font-weight: 400;
}

.table th .SONG_NGU {
  padding: 0;
}

.KHONG_SONG_NGU .haiCham {
  display: inline;
}

.CO_SONG_NGU .haiCham {
  display: none !important;
}

.KHONG_TRA_CUU .traCuu {
  display: none !important;
}

.textThaiSonRight {
  font-size: 13px;
  line-height: 19px;
  right: -11px;
  margin-top: 115%;
  position: absolute;
  display: block;
  font-style: italic;
  width: 0;
}

.CO_HINH_ANH_VIEN .textThaiSonRight {
  right: -26px;
}

.textThaiSonRight .text {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  white-space: nowrap;
}

.textThaiSonBottom {
  font-style: italic;
  text-align: center;
}

.KE_DONG_BEN_MUA .buyer .dottedLine {
  border-bottom: 1px dotted;
  position: absolute;
}

.KE_DONG_BEN_BAN .seller .dottedLine {
  border-bottom: 1px dotted;
  position: absolute;
}

.KE_DONG_BANG_HANG .table .dottedLine {
  border-bottom: 1px dotted;
  position: absolute;
}

.infoContainer {
  width: 100%;
  float: left;
}

.colLabel {
  position: relative;
}

.colVal {
  float: none;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
}

.khoiThangHang .colLabel {
  width: 170px;
}

.THONG_TIN_KHONG_THANG_HANG .khoiThangHang .colLabel {
  width: 90px;
}

.THONG_TIN_KHONG_THANG_HANG .khoiThangHang .colVal,
.khoiThangHang .colVal {
  float: left;
  width: calc(100% - 100px);
}

.THONG_TIN_KHONG_THANG_HANG.CO_SONG_NGU .khoiThangHang .colLabel {
  width: 200px;
}

.CO_SONG_NGU .khoiThangHang .colLabel {
  width: 200px;
}

.CO_SONG_NGU .khoiThangHang .colVal {
  width: calc(100% - 220px);
}

.THONG_TIN_KHONG_THANG_HANG .colLabel {
  display: inline;
  float: left;
}

.THONG_TIN_KHONG_THANG_HANG .buyer .colVal,
.THONG_TIN_KHONG_THANG_HANG .colVal,
.THONG_TIN_KHONG_THANG_HANG .seller .colVal {
  display: block;
  float: none;
}

.THONG_TIN_KHONG_THANG_HANG .colLabel {
  height: 19.5px;
}

.BEN_BAN_THANG_HANG .seller .colVal {
  float: left;
}

.BEN_BAN_THANG_HANG .seller .colLabel {
  width: 120px;
}

.BEN_BAN_THANG_HANG .seller .colVal {
  width: calc(100% - 130px);
}

.BEN_BAN_THANG_HANG.CO_SONG_NGU .seller .colLabel {
  width: 140px;
}

.BEN_BAN_THANG_HANG.CO_SONG_NGU .seller .colVal {
  width: calc(100% - 150px);
  float: left;
}

.BEN_BAN_THANG_HANG .seller .dottedLine {
  left: 0 !important;
}

.BEN_BAN_THANG_HANG .seller.khungSmall .colLabel {
  width: 80px;
}

.BEN_BAN_THANG_HANG .seller.khungSmall .colVal {
  width: 100%;
  float: left;
}

.KHONG_SONG_NGU.BEN_BAN_THANG_HANG .seller.khungSmall .colVal {
  width: calc(100% - 95px);
}

.BEN_BAN_THANG_HANG.CO_SONG_NGU .seller.khungSmall .colLabel {
  width: 145px;
}

.BEN_BAN_THANG_HANG.CO_SONG_NGU .seller.khungSmall .colVal {
  width: calc(100% - 160px);
}

.BEN_BAN_THANG_HANG.CO_SONG_NGU.KE_DONG_BEN_BAN .seller.khungSmall .colVal {
  width: calc(100% - 155px);
}

.BEN_MUA_THANG_HANG .buyer .colVal {
  float: left;
}

.BEN_MUA_THANG_HANG .buyer .colLabel {
  width: 120px;
}

.BEN_MUA_THANG_HANG .buyer .colVal {
  width: calc(100% - 130px);
}

.BEN_MUA_THANG_HANG.CO_SONG_NGU .buyer .colLabel {
  width: 177px;
}

.BEN_MUA_THANG_HANG.CO_SONG_NGU .buyer .colVal {
  width: calc(100% - 187px);
  float: left;
}

.BEN_MUA_THANG_HANG .buyer .dottedLine {
  left: 0 !important;
}

.BEN_MUA_THANG_HANG .buyer.khungSmall .colLabel {
  width: 125px;
}

.BEN_MUA_THANG_HANG .buyer.khungSmall .colVal {
  width: 100%;
  float: left;
}

.KHONG_SONG_NGU.BEN_MUA_THANG_HANG .buyer.khungSmall .colVal {
  width: calc(100% - 135px);
}

.BEN_MUA_THANG_HANG.CO_SONG_NGU .buyer.khungSmall .colLabel {
  width: 145px;
}

.BEN_MUA_THANG_HANG.CO_SONG_NGU .buyer.khungSmall .colVal {
  width: calc(100% - 160px);
}

.BEN_MUA_THANG_HANG.CO_SONG_NGU.KE_DONG_BEN_MUA .buyer.khungSmall .colVal {
  width: calc(100% - 155px);
}

.dongKhongThangHang .colLabel,
.dongKhongThangHang .colVal {
  width: auto !important;
}

.tableContainer {
  margin: 0 auto 10px auto;
  width: calc(100% - 10px);
  border: 1px solid;
  border-collapse: collapse;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table tbody tr td.donghang {
  border-top: 1px solid;
}

.table thead tr th {
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.table tbody tr td {
  border-bottom: none;
  border-left: 1px solid;
}

.table tbody tr td:first-child,
.table thead tr th:first-child {
  border-left: none;
}

#headerTemp table td.infoTemp,
.header table td.infoTemp {
  padding: 2px 5px 5px 5px;
}

.BANG_KHONG_COT_MA .table:not(.table-vat) tr td:nth-child(2),
.BANG_KHONG_COT_MA .table:not(.table-vat) tr th:nth-child(2) {
  display: none;
}

.BANG_KHONG_COT_TIEN_THUE .table:not(.table-vat) tr td:nth-child(8),
.BANG_KHONG_COT_TIEN_THUE .table:not(.table-vat) tr th:nth-child(8) {
  display: none;
}

.BANG_KHONG_COT_CHIET_KHAU .table:not(.table-vat) tr td:nth-child(9),
.BANG_KHONG_COT_CHIET_KHAU .table:not(.table-vat) tr th:nth-child(9) {
  display: none;
}

.BANG_KHONG_TI_GIA [data-style="txt_exchangeRateContainer"] {
  display: none;
}

.BANG_CO_TRAN_VIEN .tableContainer {
  width: 100%;
}

.BANG_KHONG_CO_VIEN_NGOAI .tableContainer {
  border: none;
}

.BANG_CO_TRAN_VIEN.CO_VIEN_KE .tableContainer {
  border-left: none;
  border-right: none;
}

.BANG_CO_BO_TRON_GOC .tableContainer {
  border-radius: 10px;
}

.BANG_CO_NGAN_HEADER_BODY_MO .table thead tr th {
  border-bottom-color: #ddd;
}

.BANG_KHONG_CO_NGAN_HEADER_BODY .table thead tr th {
  border-bottom: none;
}

.BANG_KHONG_CO_KE_COT .table tbody tr td,
.BANG_KHONG_CO_KE_COT .table thead tr th {
  border-left: none;
}

.BANG_CO_KE_DONG_MO .table tbody tr td.donghang {
  border-top: 1px dotted #000;
}

.BANG_KHONG_CO_KE_DONG .table tbody tr td,
.table tbody tr:first-child td.donghang {
  border-top: none;
}

.BANG_CO_KE_COT_MO .table tbody tr td,
.BANG_CO_KE_COT_MO .table thead tr th {
  border-left-color: #ddd;
}

.phanCachKhoi1Khoi2 #invoiceData > tr:first-child table {
  border-bottom: 1px solid;
}

.phanCachKhoi2Khoi3 #invoiceData > tr:nth-child(2) table {
  border-bottom: 1px solid;
}

.phanCachKhoi3Khoi4 #invoiceData > tr:nth-child(3) table {
  border-bottom: 1px solid;
}

#headerTemp td,
.header td {
  padding: 0;
}

[data-temp="TemplateLogo"],
[data-temp="Template_Code_Series_invoiceNumber"],
[data-temp="emptyTemp"] {
  width: 23%;
}

[data-temp="TemplateInvoiceInformation"] {
  padding: 5px 0 !important;
}

.CO_SONG_NGU [data-temp="TemplateLogo"],
.CO_SONG_NGU [data-temp="Template_Code_Series_invoiceNumber"],
.CO_SONG_NGU [data-temp="emptyTemp"] {
  width: 28%;
}

[data-temp="TemplateLogo"] {
  padding: 0 5px !important;
}

[data-temp="Template_Code_Series_invoiceNumber"] {
  padding-left: 5px !important;
}

.TS_BEN_DUOI .textThaiSonRight,
.TS_BEN_PHAI .textThaiSonBottom {
  display: none;
}

.TS_BEN_DUOI .textThaiSonBottom {
  display: block;
}

.text-bottom-page {
  bottom: 2px;
  line-height: 16px;
  font-size: 13px;
  width: 100%;
  text-align: center !important;
  padding-top: 10px;
}

.MOT_TRANG .text-bottom-page {
  position: absolute;
}

.page {
  page-break-inside: avoid;
  page-break-after: always;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-number {
  text-align: right;
}

.CO_HINH_ANH_VIEN .page-number {
  margin-right: -15px;
}

.CO_VIEN_KE .page-content {
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

.CO_HINH_ANH_VIEN .header {
  padding-top: 15px;
}

.clearBoth {
  clear: both;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w02o {
  width: 2%;
}

.w05o {
  width: 5%;
}

.w10o {
  width: 10%;
}

.w15o {
  width: 15%;
}

.w20o {
  width: 20%;
}

.w23o {
  width: 23%;
}

.w25o {
  width: 25%;
}

.w27o {
  width: 27%;
}

.w30o {
  width: 30%;
}

.w35o {
  width: 35%;
}

.w40o {
  width: 40%;
}

.w43o {
  width: 43%;
}

.w45o {
  width: 45%;
}

.w50o {
  width: 50%;
}

.w55o {
  width: 55%;
}

.w60o {
  width: 60%;
}

.w65o {
  width: 65%;
}

.w70o {
  width: 70%;
}

.w75o {
  width: 75%;
}

.w80o {
  width: 80%;
}

.w85o {
  width: 85%;
}

.w90o {
  width: 90%;
}

.w95o {
  width: 95%;
}

.w99o {
  width: 99%;
}

.w100o {
  width: 100%;
}

.col1 {
  width: 5%;
}

.col2 {
  width: 10%;
}

.col3 {
  width: 15%;
}

.col4 {
  width: 20%;
}

.col5 {
  width: 25%;
}

.col6 {
  width: 30%;
}

.col7 {
  width: 35%;
}

.col8 {
  width: 40%;
}

.col9 {
  width: 45%;
}

.col10 {
  width: 50%;
}

.col11 {
  width: 55%;
}

.col12 {
  width: 60%;
}

.col13 {
  width: 65%;
}

.col14 {
  width: 70%;
}

.col15 {
  width: 75%;
}

.col16 {
  width: 80%;
}

.col17 {
  width: 85%;
}

.col18 {
  width: 90%;
}

.col19 {
  width: 95%;
}

.col20 {
  width: 100%;
}

.dbl {
  display: block !important;
}

.dib {
  display: inline-block;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pl7 {
  padding-left: 7px;
}

.pr7 {
  padding-right: 7px;
}

.pr3 {
  padding-right: 5px;
}

.pd0 {
  padding: 0;
}

[class*="col"]:not(.colVal) {
  float: left;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.colon {
  padding-right: 3px;
}

.text-center .colon {
  float: none;
}

p {
  margin: 0;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.borderTop {
  border-top: 1px solid !important;
}

.borderLeft {
  border-left: 1px solid !important;
}

.borderRight {
  border-right: 1px solid !important;
}

.borderBot {
  border-bottom: 1px solid !important;
}

.borderAll {
  border: 1px solid !important;
}

.phathanh {
  position: absolute;
  top: 500px;
  left: calc(50% - 125px);
  width: 250px;
  height: auto;
  background: 0 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0.8;
}

.xoabo {
  font-size: 20px;
  color: red;
  text-transform: uppercase;
  font-weight: 700;
}

.splitLine {
  white-space: pre-line;
}

.sub-info {
  display: inline;
}

.printFlag {
  margin-top: 3px;
  line-height: 18px;
  font-size: 13px;
}

.printFlag .SONG_NGU {
  font-size: 12px !important;
}

.HOA_DON_GOC .hoaDonChuyenDoi {
  display: none;
}

#tblSignature {
  width: 100%;
  line-height: 16px;
}

#tblSignature .signature {
  height: 18px;
}

#tblSignature .tdChuyenDoi {
  height: 63px;
}

#tblSignature .hasDirector {
  display: none;
}

#tblSignature .br {
  display: none;
}

#kyso {
  line-height: 14px;
  font-size: 10px;
  max-width: 225.71428571428572px;
  margin: 0 auto;
  border: solid 1px red;
  padding: 3px;
  color: red;
  position: relative;
  z-index: 1;
  text-align: left;
}

#tblSignature .cot1,
#tblSignature .cot4 {
  display: none;
}

#tblSignature th:nth-child(2) {
  width: 50%;
}

#tblSignature .tdChuyenDoi {
  vertical-align: bottom;
}

#tblSignature .tdChuyenDoi .cot1 {
  position: relative;
  min-height: 62px;
}

#tblSignature .chuyenDoiContainer {
  position: absolute;
  width: 350px;
  left: 15px;
  text-align: left;
  bottom: 0;
}

.CO_CKS_THU_TRUONG #tblSignature .cot4 {
  display: block;
}

.CO_CKS_THU_TRUONG #tblSignature th:nth-child(2),
.CO_CKS_THU_TRUONG #tblSignature th:nth-child(3),
.CO_CKS_THU_TRUONG #tblSignature th:nth-child(4) {
  width: 33%;
}

.HOA_DON_CHUYEN_DOI .hoaDonChuyenDoi {
  display: block;
}

.HOA_DON_CHUYEN_DOI #tblSignature th:nth-child(1),
.HOA_DON_CHUYEN_DOI #tblSignature th:nth-child(2) {
  width: 33.3%;
}

.HOA_DON_CHUYEN_DOI.CO_SONG_NGU #tblSignature th:nth-child(1) {
  width: 40%;
}

.HOA_DON_CHUYEN_DOI.CO_SONG_NGU #tblSignature th:nth-child(2) {
  width: 25%;
}

.HOA_DON_CHUYEN_DOI .hoaDonGoc {
  display: none;
}

.HOA_DON_CHUYEN_DOI #tblSignature .cot1 {
  display: block;
}

.HOA_DON_CHUYEN_DOI.CO_CKS_THU_TRUONG #tblSignature th:nth-child(1),
.HOA_DON_CHUYEN_DOI.CO_CKS_THU_TRUONG #tblSignature th:nth-child(4) {
  width: 28%;
}

.HOA_DON_CHUYEN_DOI.CO_CKS_THU_TRUONG #tblSignature th:nth-child(2),
.HOA_DON_CHUYEN_DOI.CO_CKS_THU_TRUONG #tblSignature th:nth-child(3) {
  width: 22%;
}

.CO_CKS_THU_TRUONG #tblSignature .hasDirector {
  display: block;
}

.CO_CKS_THU_TRUONG #tblSignature .noDirector {
  display: none;
}

.CO_CKS_THU_TRUONG.HOA_DON_CHUYEN_DOI.CO_SONG_NGU #tblSignature .br {
  display: block;
}

.CO_CKS_THU_TRUONG #tblSignature #kysoContainer {
  float: right;
}

.HOA_DON_CHUYEN_DOI.AN_CHU_KY_SO #kysoContainer {
  display: none;
}

.NOT_SIGN_NOTE .signNote {
  display: none;
}

.NOT_SIGN_NOTE #tblSignature .signature {
  height: 62px;
}

.HOA_DON_CHUYEN_DOI .signNote {
  display: table-row;
}

.readAmountInWords {
  font-size: 15px;
}

[page-size="A5"] [data-temp="TemplateLogo"],
[page-size="A5"] [data-temp="Template_Code_Series_invoiceNumber"],
[page-size="A5"] [data-temp="emptyTemp"] {
  width: 25%;
}

.CO_SONG_NGU[page-size="A5"] [data-temp="TemplateLogo"],
.CO_SONG_NGU[page-size="A5"] [data-temp="Template_Code_Series_invoiceNumber"],
.CO_SONG_NGU[page-size="A5"] [data-temp="emptyTemp"] {
  width: 30%;
}

[page-size="A5"] .tableKhoi3 {
  margin-bottom: 0;
}

.BEN_BAN_THANG_HANG[page-size="A5"] .seller .colLabel,
.BEN_MUA_THANG_HANG[page-size="A5"] .buyer .colLabel {
  width: 95px;
}

.BEN_BAN_THANG_HANG[page-size="A5"] .seller .colVal,
.BEN_MUA_THANG_HANG[page-size="A5"] .buyer .colVal {
  width: calc(100% - 105px);
}

.BEN_MUA_THANG_HANG.CO_SONG_NGU[page-size="A5"] .buyer .colLabel {
  width: 175px;
}

.BEN_MUA_THANG_HANG.CO_SONG_NGU[page-size="A5"] .buyer .colVal {
  width: calc(100% - 185px);
}

.BEN_BAN_THANG_HANG.CO_SONG_NGU[page-size="A5"] .seller .colLabel {
  width: 110px;
}

.BEN_BAN_THANG_HANG.CO_SONG_NGU[page-size="A5"] .seller .colVal {
  width: calc(100% - 120px);
}
.imgxoabo {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 320px;
  left: 180px;
}
.styles__btnShowTextConIcon___3VZlK {
  padding: 0 0 0 20px;
  cursor: pointer;
}

.styles__btnEdit___3NWR7 {
  padding: 0 0 0 20px;
  cursor: pointer;
}

.styles__btnEditActive___1Hk8P svg path {
  stroke: #1da1f2;
}

.styles__title___1MedQ {
  color: var(--6-o-ncolor-high-emphasis, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.styles__label___2yGIE {
  color: var(--6-o-ncolor-high-emphasis, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding-top: 22px;
}

.styles__viewEditOrText___P_qdF {
  color: var(--6-o-ncolor-high-emphasis, #333);
  font-size: 14px;
  padding-top: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.styles__viewEditOrText___P_qdF textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: 0;
  font-family: arial;
  min-height: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--6-o-ncolor-dark-ui-medium-emphasis, #b2b2b2);
  padding: 6px;
  font-size: 14px;
  color: var(--6-o-ncolor-high-emphasis, #333);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.styles__viewBtnEdit___7tC-Q {
  border-radius: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
  color: var(--5-surface-primary, #fff);
  font-size: 14px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.styles__viewBtnCancel___AKDrs {
  border-radius: 100px;
  background: var(--1-primary-azure, #b2b2b2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px 12px;
  cursor: pointer;
  margin-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
  color: var(--5-surface-primary, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.styles__viewEdit___Lj4OD {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.styles__btnShowTextCon___vWAJd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f9f8f8;
  margin-left: 18px;
  padding: 16px 18px;
}

.styles__viewMain___2iIrw {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.styles__viewMainScroll___2shb6 {
  overflow: auto;
  max-height: 350px;
  overflow-x: none;
}

.styles__viewFooter___wDsh1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.styles__viewBtnSave___yrkn5 {
  border-radius: 100px;
  background: var(--1-primary-azure, #1da1f2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
  color: var(--5-surface-primary, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.styles__viewItem___2Yf63 {
  color: var(--Light-ON-High-emphasis, #2c2c2c);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  border-radius: 30px;
  background: #c8c7cc;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.styles__btnItem___XXexq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 56px;
  cursor: pointer;
}

.styles__btnItemShowText___BWRNq {
  padding-right: 0;
}

.styles__btnItemText___3GlYJ {
  color: #b2b2b2;
  padding-left: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.styles__sound_icon___23DuG svg {
  width: 2rem;
  height: 2rem;
}

.styles__sound_icon_auto_width___EVA69 svg {
  width: auto;
  height: auto;
}

.styles__sound_icon___23DuG svg path {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.styles__sound_active___2_Hr_ svg path {
  fill: #7ac70c;
}
.ejoy-sub-active {
  color: #1296ba !important;
}

.ejoy-sub-hovered {
  color: #1296ba !important;
}

.ejoy-sub-clzz {
  cursor: pointer;
  font-size: 28px;
  color: #fc0;
  background: rgba(17, 17, 17, 0.7);
}

.ejoy-sub-clzz:hover {
  color: #1296ba !important;
}

.ej-trans-sub {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  cursor: move;
}

.ej-trans-sub > span {
  color: #3cf9ed;
  font-size: 18px;
  text-align: center;
  padding: 0 16px;
  line-height: 1.5;
  background: rgba(32, 26, 25, 0.8);
  padding: 0 8px;
  font-size: 16px;
  color: #0cb1c7;
  background: rgba(67, 65, 65, 0.7);
}

.ej-full-screen-video {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  cursor: pointer;
}

.ej-main-sub {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  cursor: move;
  padding: 0 8px;
}

.ej-main-sub > span {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  background: rgba(32, 26, 25, 0.8);
  padding: 2px 8px;
  lineheight: 1.2;
  font-size: 28px;
  color: #fc0;
  background: rgba(17, 17, 17, 0.7);
}

.ej-main-sub .ejoy-sub-clzz {
  background: 0 0 !important;
}

.tran-subtitle > span {
  cursor: pointer;
  padding-left: 10px;
  top: 2px;
  position: relative;
}

.tran-subtitle > span > span {
  position: absolute;
  top: -170%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 20px;
  padding: 2px 8px;
  color: #fff;
  display: none;
  border-radius: 4px;
  white-space: nowrap;
  left: -50%;
  font-weight: 400;
}

.viewPopupPro {
  z-index: 2147483647;
  cursor: auto;
  position: absolute;
  z-index: 2147483647;
  background: #111;
  transition: opacity 1s;
  width: 172px;
  height: 66px;
  opacity: 1;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlePopupPro {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #e5e5e5;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.viewGoPro {
  background: #fc0;
  border-radius: 72.6257px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding-left: 10px;
  cursor: pointer;
}

.viewGoPro svg {
  pointer-events: none;
}

.textGoPro {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  pointer-events: none;
  text-align: center;
  color: #fff;
  padding: 4px 14px 4px 4px;
}

.viewPopupPro {
  top: auto !important;
  bottom: 15px !important;
}

.iconCrownGoPro:hover > span,
.view-icon-copy-main-sub:hover > span,
.view-icon-copy-tran-sub:hover > span,
.view-icon-edit-sub:hover > span,
.view-icon-exit-full-sub:hover > span,
.view-icon-full-sub:hover > span {
  display: block;
}

.iconCrownGoPro {
  padding-left: 0 !important;
  padding-right: 8px !important;
}

.iconCrownGoPro svg {
  width: 17px;
  height: 17px;
}

.view-icon-exit-full-sub,
.view-icon-full-sub {
  display: flex;
}

.view-icon-exit-full-sub > svg,
.view-icon-full-sub > svg {
  pointer-events: none;
}

.tran-subtitle > span > svg {
  width: 16px;
  height: 16px;
  pointer-events: none;
  display: inline-flex !important;
  vertical-align: baseline !important;
}

.view-icon-copy-main-sub > svg {
  pointer-events: none;
  color: #fc0;
}

.iconCrownGoPro {
  padding-left: 0 !important;
  padding-right: 8px !important;
}

.view-icon-copy-tran-sub > svg {
  pointer-events: none;
  color: #0cb1c7;
}
#dse-quicksearchdiv * {
  box-sizing: content-box;
}

#dse-quicksearchdiv svg {
  box-sizing: content-box;
}

#dse-disabledpopup * {
  box-sizing: content-box;
}

#dse-search:before {
  left: -4px !important;
  top: 38% !important;
  height: 6px !important;
  width: 6px !important;
  border: 1px solid #484644 !important;
  border-right: none !important;
  border-top: none !important;
  content: " " !important;
  background: #484644 !important;
  position: absolute !important;
  transform: rotate(45deg) !important;
}

#dse-disabledpopup:before {
  left: -4px !important;
  top: 38% !important;
  height: 6px !important;
  width: 6px !important;
  border: 1px solid #484644 !important;
  border-right: none !important;
  border-top: none !important;
  content: " " !important;
  background: #484644 !important;
  position: absolute !important;
  transform: rotate(45deg) !important;
}

.topArrow #dse-search:before {
  left: 50% !important;
  top: -4px !important;
  height: 6px !important;
  width: 6px !important;
  border: 1px solid #484644 !important;
  border-top: none !important;
  border-left: none !important;
  content: " " !important;
  background: #484644 !important;
  position: absolute !important;
  transform: rotate(225deg) !important;
}

.topArrow #dse-disabledpopup:before {
  left: 50% !important;
  top: -4px !important;
  height: 6px !important;
  width: 6px !important;
  border: 1px solid #484644 !important;
  border-top: none !important;
  border-left: none !important;
  content: " " !important;
  background: #484644 !important;
  position: absolute !important;
  transform: rotate(225deg) !important;
}

#dse-copy:hover,
#dse-disableFeature:hover,
#dse-disabledpopup:hover,
#dse-disabledpopup:hover:before,
#dse-lookup:hover,
#dse-moreoptions:hover,
#dse-search:hover,
#dse-search:hover:before {
  background-color: #666 !important;
}

#dse-copy:active,
#dse-disableFeature:active,
#dse-disabledpopup:active,
#dse-disabledpopup:active:before,
#dse-lookup:active,
#dse-moreoptions:active,
#dse-search:active,
#dse-search:active:before {
  background-color: #666 !important;
}
